.authenication-wrapper .authenication-wrapper {
  position: relative;
  max-width: 1440px;
  background: var(--primary-pure-white, #fff);
  font-family: "poppins", sans-serif;
}
.authenication-wrapper .authenication-wrapper.Logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 28px 0 40px;
}
.authenication-wrapper .authenication-wrapper .Logo img {
  width: 267px;
  height: 70px;
  background: linear-gradient(
    90deg,
    #036 0.29%,
    #6283a3 16.54%,
    #507498 40.18%,
    #27527e 62.83%,
    #ccd9e5 100.06%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.authenication-wrapper .authenication-content {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.authenication-wrapper img {
  position: absolute;
  max-width: 473px;
  /* height: 473px; */
  height: 323px;
}
.authenication-wrapper .ellipse-one {
  top: 0;
  left: 0;
}
.authenication-wrapper .ellipse-two {
  bottom: 0;
  left: 0;
}
.authenication-wrapper .ellipse-three {
  top: 0;
  right: 0;
}
.authenication-wrapper .ellipse-four {
  bottom: 0;
  right: 0;
}
.authenication-wrapper .Authenication-children {
  width: 80%;
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #808080;
  opacity: 0.6;
}

.authenication-wrapper .Authenication-children .children {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 28px 0;
}
