.authenication-wrapper {
  position: relative;
  max-width: 1440px;
  background: var(--primary-pure-white, #fff);
}
.authenication-wrapper .Logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 28px 0 40px;
}
.authenication-wrapper .Logo img {
  width: 267px;
  height: 70px;
  background: linear-gradient(
    90deg,
    #036 0.29%,
    #6283a3 16.54%,
    #507498 40.18%,
    #27527e 62.83%,
    #ccd9e5 100.06%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.authenication-wrapper .authenication-content img {
  position: absolute;
  max-width: 473px;
  /* height: 473px; */
  height: 323px;
}
.authenication-wrapper .ellipse-one {
  top: 0;
  left: 0;
}
.authenication-wrapper .ellipse-two {
  bottom: 0;
  left: 0;
}
.authenication-wrapper .ellipse-three {
  top: 0;
  right: 0;
}
.authenication-wrapper .ellipse-four {
  bottom: 0;
  right: 0;
}

.authenication-wrapper .Authenication-children {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.4) 0%,
    rgba(217, 217, 217, 0.1) 100%
  );
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  max-width: 1020px;
  margin: 20px auto 0;
  text-align: center;
  padding: 28px 0;
}