.resetPasswordlayout-wrappper .authenication-wrapper {
  height: 768px;
}
.resetPasswordlayout-wrappper .Authenication-children {
  height: 411px;
}

.resetPassword-form-control h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: normal;
  color: var(--primary-dark-blue, #036);
}

.resetPassword-form-control input {
  padding-left: 6px;
  outline: none;
  /* width: 709px; */
  width: 78%;
  height: 58px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--primary-pure-white, #fff);
  margin: 8px 0;
  font-size: 14px;
  border: none;
}

.resetPassword-form-control .recoveryLink-btn {
  /* width: 709px; */
  width: 78%;
  height: 58px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(90deg, #369 0.03%, #6ac 100%);
  color: var(--primary-pure-white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 80px;
  border: none;
}
.resetPassword-form-control .recoveryLink-btn:hover {
  text-decoration: underline;
}
.resetPassword-form-control .forgetPassword-logIn-btn {
  /* width: 709px; */
  width: 78%;
  height: 58px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--primary-extra-light-blue, rgba(102, 170, 204, 0.6));
  border: none;
  margin-top: 16px;
}
.resetPassword-logIn-btn a {
  color: var(--primary-pure-white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.resetPassword-logIn-btn a:hover {
  text-decoration: underline;
}
