/* CustomButton.css */

.custom-button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  margin: 8px 16px;
}

.custom-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-left: 5px;
}
.empty-button {
  width: 50%;
}

.add-button {
  background-color: #2a8dd9;
}

.delete-button {
  background-color: #e74c3c;
}

.download-button {
  background-color: #f39c12;
}

.edit-button {
  background-color: #9b59b6;
}
