/* Invoice Header Container */
.invoice-header {
  background-color: #029ab7;
  width: 1110px;
  height: 92.3333px;
  border-bottom: 2px solid #efefef;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Filter Icon */
.filter-icon {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: #ffffff;
}

/* Dropdown Container */
.dropdowns {
  display: flex;
}

/* Dropdown */
.dropdown {
  position: relative;
  margin-right: 20px;
}

/* Dropdown Button */
.dropdown-button {
  color: #212529;
  background-color: #ffffff;
  height: 39px;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  position: relative;
  cursor: pointer;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show Dropdown Content on Button Hover */
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 2px;
}

/* Dropdown Content Items */
.dropdown-content span {
  text-decoration: none;
  color: #212529;
  display: block;
  padding: 8px 12px;
  cursor: pointer;
}

/* Style for Hovered Dropdown Content Items */
.dropdown-content span:hover {
  background-color: #f9f9f9;
}

/* Date Picker Container */
.date-picker {
  display: flex;
  align-items: center;
  position: relative;
}

/* Date Input */
.date-picker input[type="text"] {
  color: #000;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 9px 47px 9px 36px; /* Adjusted padding */
  width: auto;
  border-radius: 6px;
  height: 39px;
  cursor: text;
  box-sizing: border-box;
}

/* Calendar Icon */
.calendar-icon {
  position: absolute;
  left: 10px; /* Position to the left */
  top: 50%;
  transform: translateY(-50%);
}

/* Date Picker Popup */
.date-picker-popup {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  display: none;
  z-index: 2;
}

.date-picker-popup.active {
  display: block;
}

.date-picker-popup .date-picker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date-picker-popup .header-title {
  font-size: 18px;
  color: #212529;
}

.date-picker-popup .date-picker-body {
  display: flex;
  flex-direction: column;
}

.date-picker-popup .date-inputs {
  margin-bottom: 15px;
}

.date-picker-popup .date-inputs label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #212529;
}

.date-picker-popup .date-inputs .react-datepicker-wrapper,
.date-picker-popup .date-inputs .react-datepicker__input-container {
  width: auto;
}

.date-picker-popup .date-picker-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Search Input Container */
.search-input-container {
  display: flex;
  align-items: center;
  position: relative; /* Added position */
}

/* Search Input */
.search-input {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 9px 22px 9px 36px; /* Adjusted padding */
  border-radius: 20px;
  cursor: text;
  box-sizing: border-box;
}

/* Search Icon */
.search-icon {
  position: absolute;
  left: 10px; /* Position to the left */
  top: 50%;
  transform: translateY(-50%);
}

/* Reset Button */
.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}

.reset-button span {
  margin-left: 10px;
}
