.SignOut-wrappper {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-top: 60px;
  color: #000000;
}
.SignOut-wrappper .signOut-btn {
  padding: 10px 30px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(90deg, #369 0.03%, #6ac 100%);
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
  border: none;
}
.SignOut-wrappper .signOut-btn:hover {
  text-decoration: underline;
}