:root {
  --clr-primary-600: #808080;
    --clr-primary-500: #707070;
    --clr-primary-400:#3a3a3a;
    --clr-primary-300: #66aacc;
    --clr-primary-200: #336699;
    --clr-primary-100: #003366;
    
  
    --clr-neutral-100:#fff;
    --clr-neutral-900:#000000;
  
    --ff-primary: 'Montserrat', sans-serif;
    --ff-sec: 'Montserrat', sans-serif;
    --ff-body: var(--ff-sec);
    --ff-heading: var(--ff-primary);
  
    
  
    /* --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem; */
  
    
  
  }
  
  
  /*******************************/
  /* CSS RESETS */
  /******************************/
  
  
  /* Remove default margin */

  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'],ul {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core root defaults */
  html,body{
   height: 100%;
  }
  /* Set core body defaults */
  body {
   
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    /* font-family: var(--ff-body); */
    /* background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100); */
    
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  .landing img,
  picture, svg {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    /* *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    } */
  }
  
  button{
    background: none;
    border: none;
    outline: none;
  }
  /*******************************/
  /*END CSS RESETS */
  /******************************/
  
  /*******************************/
  /*UTILITY CLASSES */
  /******************************/
  .container{
    width: min(1300px, 90%);
    margin: 0 auto;
  }

  .stack > * + *{
  margin-block-start: 1.5rem;
  }
  
  .center{
      text-align: center;
      /* padding: 100px 0; */
      margin: 0 auto;
  }
  
  section{
    padding: 60px 0;
  }
  .subheading{
    font-size: 1.4rem;
    text-align: center;
    width: min(600px, 100%);
    margin: 0 auto;
    line-height: 1.2;
    color: var(--clr-primary-200);
    padding-bottom: 3rem;
    font-weight: 700;
  }
  .subtext{
    width: min(700px, 100%);
    text-align: center;
    margin: 0 auto;
  }
  /*******************************/
  /*END UTILITY CLASSES */
  /******************************/
  

  /**************************/
/* HEADER */
/**************************/
.header{
  padding: 1.5rem 0;
  background-color: var(--clr-primary-200);
  /* position: relative; */
}
.nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */

}
.nav__icon{
display: none;
cursor: pointer;
}


.nav__item{
  margin-right: 2em;
}
.nav__item:last-child{
  margin-right: 0;
}

.nav__link{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.nav__menu, .nav__close{
  font-size: 1.4rem;
  color: var(--clr-primary-300);
}

  
  /*********************/
  /* Using General CSS*/
  /*********************/
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  
  /* FOOTER */
  footer{
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-100);
    height: 100%;
    padding: 50px 0;
  }
  .footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3em;
    /* border-bottom:2px solid #fff ; */
    
  }
  .footer__col{
    flex-grow: 1;
    flex-basis: 300px;
   
  }
  .footer__col img{
    margin-bottom: 1.5em;
  }
  .footer__bottom{
    margin-bottom: 2em;
    text-align: center;
  }
  
  .footer__item{
    margin-bottom: .7em;
  }
  .footer__link{
    color: var(--clr-neutral-100);
  }
  .footer__social{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 1em;
  }
  hr{
    margin-bottom: 2em;
  }
  .footer__social i{
    font-size: 1.8rem;
  }
  
  
  .footer__text{
    font-weight: 600;
  }
  
  
  
  /**************************/
  /* BELOW 544px (Phones) */
  /**************************/
  
  @media (max-width: 544px) {
    
    .grid--2-cols{
      grid-template-columns: 1fr;
    }
  
    .step__img:nth-child(2) {
      grid-row: 1;
    }
    .step__img:nth-child(6) {
      grid-row: 5;
    }
    .step__img {
      transform: translateY(2.4rem);
    }
  }






  /**************************************************/
/* HERO SECTION */
/**************************************************/

.section-hero{
    /* Ensuring the section takes the full viewport height */
  height: 100%;
  background-image: url(/public/assests/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-neutral-100);
    
  }
  .hero{
  }
  .hero__content{
    
    width: min(700px, 100%);
  }
  
  .hero__title{
    /* font-size: 2rem; */
    font-weight: 800;
  }

  .customers{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    gap: 1.8rem;
  }
  .customers__img {
    display: flex;
  }
  .customers__img img {
    
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
 
    margin-right: -1.6rem;
  }
  .customers__img img:last-child {
    margin: 0;
  }
  .customers__text {
    font-weight: 700;
    font-size: .9rem;
 
  }
  


.btn{
  border-radius: 6px;
background: linear-gradient(94deg, #369 0.36%, #6AC 100%);
padding: .6em 1.4em;
cursor: pointer;
color: var(--clr-neutral-100);
font-weight: 700;
}
  /***********************************/
  /* FEATURES SECTION */
  /***********************************/
  .features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
  }
  .features__col{
    flex-grow: 1;
    flex-basis: 250px;
    /* text-align: center; */
  }
.features__title{
  color: var(--clr-primary-400);
  /* font-size: 1.5rem; */
/* Subheading (H3) */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.features__text{
  color: var(--clr-primary-400);
  font-family: Open Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

/* Body Text 1 */
/* font-family: Open Sans; */
font-size: 18px;
line-height: normal;
}
  

  .section_stats{
    background: var(--clr-primary-300);
  }

  .stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    
  }
  .stats__col{
    flex-grow: 1;
    flex-basis: 250px;
    text-align: center;

  }
  .stats__title{
    font-size: 2rem;
    font-size: 900;
  }


  .step{
    padding:  4em 0;
  }
  .step__no{
    color: rgba(51, 102, 153, 0.50);
    font-family: Montserrat;
    font-weight: 700;

  }
  .step__title{
    /* font-size: 2rem; */
    font-weight: 600;
    color: var(--clr-primary-200);
  }
  .step__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .step__img img {
    /* width: 35%; */
  }
  
  .step__item{
    display: flex;
    align-items: center;
  }
  .step__icon{
    color: var(--clr-primary-100);
  }
  .step__text{
    margin-left: .5em;
    font-size: .9rem;
  }
  
  


  .section__reviews{
  }

  .reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    
    
  }
  .reviews__col{
    flex-grow: 1;
    flex-basis: 250px;
    background: var(--primary-pure-white, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5em 2.5em;
    
  }
  .reviews__text{
    padding: 1em;
  }
  
  .reviews__img{
    margin-bottom: .6em;
  }
  .reviews__name{
 font-weight: 600;
 margin-bottom: .6em;
  }
  .reviews__img img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
  .reviews__info{
    color: var(--clr-primary-200);
  }

/*********************************************/
  /* FAQ */
  /*********************************************/

.faq{
  width: min(600px, 100%);
  margin: 0 auto;
}

.get-touch{
  padding: 3em;
  border-radius: 6px;
border: 1px solid rgba(255, 255, 255, 0.40);
background: url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, rgba(217, 217, 217, 0.40) 0%, rgba(217, 217, 217, 0.10) 100%);
box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
width: min(700px, 100%);
margin: 0 auto;
text-align: center;
}
.get-touch .img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}


/******************************/
/* TAB ABOVE MEDIA QUERIES */
/*****************************/
@media(min-width:768px){
 .hero__title{
  font-size: 3.3rem;
 }

 .features__title{
  font-size: 1.4rem;
 }
 .step__no{
  font-size: 2.25rem;
 }
 .step__title{
  font-size: 1.2rem;
 }

 .nav{
  flex-direction: row;
}

.nav__list{
 display: flex;
}

.pricing__tag{
  font-size: 1.8rem;
}
.pricing__amt{
  font-size: 1.5rem;
}
.nav__link:not(.btn){
  /* text-decoration: underline wavy var(--clr-primary-400) 0.15rem;
  text-underline-offset: 0.5rem; */
}
.nav__link:not(.btn):is(:hover){
  /* color: var(--clr-primary-300); */
}

}

/******************************/
/* MOBILE BELOW MEDIA QUERIES */
/*****************************/
@media(max-width:769px){
  .hero__title{
   font-size: 1.8rem;
  }
  .features__title{
    font-size: 1rem;
  }

  .nav__list{
    position: absolute;
    top: 70px;
    /* height: calc(100vh - 60px); */
    visibility: hidden;
    background-color: var(--clr-neutral-100);
    width: 100%;
    padding: 1em;
    border-radius: 10px;

  
   
  }
  .nav__list.active{
    visibility: visible;
    z-index: 1;
    left: 0;
    right: 0;
  }
  .nav__item{
    margin-top: 2em;
  }
  .nav__link{
    color: var(--clr-neutral-900);
   
  }
  
  .nav__icon{
    display: block;
    }
 }

 .pricing-section{
  height: 100%;
  background-image: url(/public/assests/vclipath.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 .pricing{
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin-top: 4em;
 }

 .pricing__card{
  flex-grow: 1;
    flex-basis: 250px;
    border-radius: 20px;
background: var(--primary-pure-white, #FFF);
text-align: center;
padding: 2em;
 }
.pricing__tag{
  color: var(--clr-primary-200);
}
.pricing__amt{
  color: #A4A4A4;
}
 .pricing__item{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
 }
 
 .pricing__icon{
  margin-right: .5em;
  color: var(--clr-primary-100);
 }
 .pricing__icon.blue{
  color: var(--clr-primary-200);
 }
 .pricing__icon.gray, .pricing__text.gray{
  color: #A4A4A4;
 }
 

