:root {
  --clr-primary-600: #808080;
    --clr-primary-500: #707070;
    --clr-primary-400:#3a3a3a;
    --clr-primary-300: #66aacc;
    --clr-primary-200: #336699;
    --clr-primary-100: #003366;
    
  
    --clr-neutral-100:#fff;
    --clr-neutral-900:#000000;
  
    --ff-primary: 'Montserrat', sans-serif;
    --ff-sec: 'Montserrat', sans-serif;
    --ff-body: var(--ff-sec);
    --ff-heading: var(--ff-primary);
  
    
  
    /* --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem; */
  
    
  
  }
  
  
  /*******************************/
  /* CSS RESETS */
  /******************************/
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'],ul {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: var(--clr-neutral-900);
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core root defaults */
  html,body{
   height: 100%;
  }
  /* Set core body defaults */
  body {
   
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-body);
    /* background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100); */
    
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture, svg {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  button{
    background: none;
    border: none;
    outline: none;
  }
  /*******************************/
  /*END CSS RESETS */
  /******************************/
  
  /*******************************/
  /*UTILITY CLASSES */
  /******************************/
  .container{
    width: min(1300px, 90%);
    margin: 0 auto;
  }
  
  .fw-regular{
    font-weight: var(--fw-regular);
  }
  
  .fw-semi-bold{
    font-weight: var(--fw-semi-bold);
  }
  
  .fw-bold{
    font-weight: var(--fw-bold);
  }
  .fs-primary-heading{
    font-size: var(--fs-primary-heading);
  
  }
  .stack > * + *{
  margin-block-start: 1.5rem;
  }
  
  .center{
      text-align: center;
      /* padding: 100px 0; */
      margin: 0 auto;
  }
  
  section{
    padding: 60px 0;
  }
  .subheading{
    font-size: 1.8rem;
    text-align: center;
    width: min(600px, 100%);
    margin: 0 auto;
    line-height: 1.2;
    color: var(--clr-primary-200);
    padding-bottom: 3rem;
    font-weight: 700;
  }
  .subtext{
    width: min(700px, 100%);
    text-align: center;
    margin: 0 auto;
  }
  /*******************************/
  /*END UTILITY CLASSES */
  /******************************/
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr-primary-200);
  
    /* Because we want header to be sticky later */
    padding: 0 4.8rem;
    height: 7.6rem;
    position: relative;
  }
  
  
  /**************************/
  /* NAVIGATION */
  /**************************/
  .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.8rem;
  }
  .nav__link:visited,
  .nav__link:link {
    display: inline-block;
    color: var(--clr-neutral-900);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s;
  }
  .nav__link:hover,
  .nav__link:active {
    color: var(--clr-primary-400);
  }
  .nav__link.nav-link__cta:visited,
  .nav__link.nav-link__cta:link {
    background: var(--sec-clr);
    padding: 1.2rem 2.4rem;
    color: var(--white-clr);
    border-radius: 9px;
  }
  .nav__link.nav-link__cta:hover {
    background: var(--ter-clr);
  }
  .nav__link__cta{
    border-radius: 5px;
    background: var(--clr-primary-400);
    /* color: var(--clr-primary-300); */
    /* color: #fff; */
    box-shadow: 0px 4px 10px 0px rgba(73, 165, 198, 0.10);
    padding: .7em 1.4em;
  }
  .transparent{
    background: #fff;
  }
  
  
  /* MOBILE */
  .btn-mobile-nav {
    display: none;
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
  }
  .icon-mobile-nav {
    width: 2.8rem;
    height: 2.8rem;
    color: var(--drk-choa-clr);
  }
  
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }
  
  /* STICKY NAVIGATION */
  .sticky .header {
    position: fixed;
    bottom: 0;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: var(--nav-rgba-clr);
    box-shadow: var(--stc-header-bx-shadow);
    z-index: 999;
  }
  .sticky .section-hero {
    margin-top: 9.6rem;
  }
  
  
  .accordion{
    border: 1px solid  var(--clr-primary-300);
    border-radius: 6px;
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 0px 5px 1px rgba(0, 58, 78, 0.10);
  }
  .accordion.active{
    border: none;
     background-color: rgba(100, 100, 100, 0.15);
    padding: 1.5em;
  }
  .accordion__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion__heading{
    color: var(--clr-primary-900);
    font-size: 1.1rem;
    font-weight: 600;
  }
  .accordion__text{
    color: var(--clr-primary-900);
    font-size: .9rem;
    line-height: 1.6;
    height: 0;
   
    /* transition: height .5s ease-in-out; */
  }
  .accordion__text.open{
    height: auto;
  }
  .accordion__btn{
    color: var(--clr-primary-400);
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  
  /*********************/
  /* Using General CSS*/
  /*********************/
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  
  /* FOOTER */
  footer{
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-100);
    height: 100%;
    padding: 50px 0;
  }
  .footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3em;
    /* border-bottom:2px solid #fff ; */
    
  }
  .footer__col{
    flex-grow: 1;
    flex-basis: 300px;
   
  }
  .footer__col img{
    margin-bottom: 1.5em;
  }
  .footer__bottom{
    margin-bottom: 2em;
    text-align: center;
  }
  
  .footer__item{
    margin-bottom: .7em;
  }
  .footer__link{
    color: var(--clr-neutral-100);
  }
  .footer__social{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 1em;
  }
  hr{
    margin-bottom: 2em;
  }
  .footer__social i{
    font-size: 1.8rem;
  }
  
  
  .footer__text{
    font-weight: 600;
  }
  
  /**************************/
  /* BELOW 944px (tablets) */
  /**************************/
  @media (max-width: 944px) {
  
    .btn-mobile-nav {
      display: block;
      z-index: 9999;
    }
    .nav {
      background: var(--nav-rgba-clr);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transition: all 0.5s ease-in;
      transform: translateX(100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      /* Hide navigation */
      /* Allows NO transitions at all */
      /* display: none; */
  
      /* 1) Hide it visually */
      opacity: 0;
  
      /* 2) Make it unaccessible to mouse and keyboard */
      pointer-events: none;
  
      /* 3) Hide it from screen readers */
      visibility: hidden;
    }
    .nav__list {
      flex-direction: column;
      gap: 4.8rem;
    }
    .nav__link:link,
    .nav__link:visited {
      font-size: 3rem;
    }
  
    /******Navbar toggling *******/
    .nav-open .nav {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
      display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
    }
  
  }
  
  
  /**************************/
  /* BELOW 544px (Phones) */
  /**************************/
  
  @media (max-width: 544px) {
    
    .grid--2-cols{
      grid-template-columns: 1fr;
    }
  
    .step__img:nth-child(2) {
      grid-row: 1;
    }
    .step__img:nth-child(6) {
      grid-row: 5;
    }
    .step__img {
      transform: translateY(2.4rem);
    }
  }






  /**************************************************/
/* HERO SECTION */
/**************************************************/

.section-hero{
    /* Ensuring the section takes the full viewport height */
  height: 100vh;
  background-image: url(/public/assests/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-neutral-100);
    
  }
  .hero{
  }
  .hero__content{
    
    width: min(700px, 100%);
  }
  
  .hero__title{
    /* font-size: 2rem; */
    font-weight: 800;
  }

  .customers{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    gap: 1.8rem;
  }
  .customers__img {
    display: flex;
  }
  .customers__img img {
    
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
 
    margin-right: -1.6rem;
  }
  .customers__img img:last-child {
    margin: 0;
  }
  .customers__text {
    font-weight: 700;
    font-size: .9rem;
 
  }
  


.btn{
  border-radius: 6px;
background: linear-gradient(94deg, #369 0.36%, #6AC 100%);
padding: .6em 1.4em;
cursor: pointer;
color: var(--clr-neutral-100);
font-weight: 700;
}
  /***********************************/
  /* FEATURES SECTION */
  /***********************************/

  .features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
  }
  .features__col{
    flex-grow: 1;
    flex-basis: 250px;
    /* text-align: center; */
  }
.features__title{
  color: var(--clr-primary-400);
  /* font-size: 1.5rem; */
/* Subheading (H3) */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.features__text{
  color: var(--clr-primary-400);
  font-family: Open Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

/* Body Text 1 */
/* font-family: Open Sans; */
font-size: 18px;
line-height: normal;
}
  

  .section_stats{
    background: var(--clr-primary-300);
  }

  .stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    
  }
  .stats__col{
    flex-grow: 1;
    flex-basis: 250px;
    text-align: center;

  }
  .stats__title{
    font-size: 2rem;
    font-size: 900;
  }


  .step{
    padding:  4em 0;
  }
  .step__no{
    color: rgba(51, 102, 153, 0.50);
    font-family: Montserrat;
    font-weight: 700;

  }
  .step__title{
    /* font-size: 2rem; */
    font-weight: 700;
    color: var(--clr-primary-200);
  }
  .step__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .step__img img {
    /* width: 35%; */
  }
  
  .step__item{
    display: flex;
    align-items: center;
  }
  .step__icon{
    color: var(--clr-primary-100);
  }
  .step__text{
    margin-left: .5em;
    font-size: .9rem;
  }
  
  


  .section__reviews{
  }

  .reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    
    
  }
  .reviews__col{
    flex-grow: 1;
    flex-basis: 250px;
    background: var(--primary-pure-white, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5em 2.5em;
    
  }
  .reviews__text{
    padding: 1em;
  }
  
  .reviews__img{
    margin-bottom: .6em;
  }
  .reviews__name{
 font-weight: 600;
 margin-bottom: .6em;
  }
  .reviews__img img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
  .reviews__info{
    color: var(--clr-primary-200);
  }

/*********************************************/
  /* FAQ */
  /*********************************************/

.faq{
  width: min(600px, 100%);
  margin: 0 auto;
}


/******************************/
/* TAB ABOVE MEDIA QUERIES */
/*****************************/
@media(min-width:768px){
 .hero__title{
  font-size: 3rem;
 }

 .features__title{
  font-size: 1.2rem;
 }
 .step__no{
  font-size: 2.25rem;
 }
 .step__title{
  font-size: 1.2rem;
 }
}

/******************************/
/* MOBILE BELOW MEDIA QUERIES */
/*****************************/
@media(max-width:769px){
  .hero__title{
   font-size: 1.8rem;
  }
  .features__title{
    font-size: 1rem;
  }
 }